@import "../../../../../theme/mixins/scrollbars";


:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-tags-vertical-gutter: calc(var(--page-margin) / 4);
  --page-tags-horizontal-gutter: calc(var(--page-margin) / 2);
  --page-users-pictures-gutter: calc(var(--page-margin) / 4);
  --page-dish-score-height: 6px;

  --page-rating-5-color: #7ce198;
  --page-rating-4-color: #a8e07c;
  --page-rating-3-color: #cee07c;
  --page-rating-2-color: #e0c77c;
  --page-rating-1-color: #e07c7c;

  --page-color: #ebbb00;
  --page-color-rgb: 235,187,0;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.location-details-content {
  --background: var(--page-background);

  .details-scores {
    .score-item {
      display: flex;
      align-items: center;

      .score-icon {
        color: var(--ion-color-medium-tint);
        font-size: 24px;
      }

      .score-value {
        color: var(--ion-color-medium-tint);
        font-size: 14px;
        margin-left: 4px;
      }
    }
  }

  .image-row {
    --ion-grid-column-padding: 0px;
    .icon-wrapper {
      margin: 0px 1%;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      background: transparent; 

      .banner-details-name {
        font-size: 24px;
        color: #ffffff;
        text-transform:uppercase;
  
      }
  
    }
  }

  .description-row {
    --ion-grid-column-padding: 0px;

    padding: var(--page-margin);
    padding-bottom: calc(var(--page-margin) * 2);

    .details-name {
      margin: 0px;
      font-size: 18px;
    }

    .details-style {
      margin-top: 5px;
      margin-bottom: var(--page-margin);
      font-size: 16px;
      color: var(--ion-color-dark-tint);
    }

    .details-price-range {
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 500;

      .price {
        color: var(--page-color);
      }

      .no-price {
        color: rgba(var(--ion-color-light-shade-rgb), .50);
      }
    }

    .location-scores {
      .location-score {
        justify-content: center;

        &:not(:first-child) {
          padding-left: calc(var(--page-margin) / 2);
        }

        &:not(:last-child) {
          padding-right: calc(var(--page-margin) / 2);
          border-right: 1px solid var(--ion-color-light-shade);
        }

        &.reviews-count {
          flex: 0 1 15%;
          justify-content: flex-end;
        }
      }

      .location-rating {
				color: var(--ion-color-lightest);
				border-radius: var(--app-narrow-radius);
				padding: calc(var(--page-margin) / 4) calc(var(--page-margin) / 2);
			  font-size: 12px;
			  font-weight: 600;
			  text-align: center;
        min-width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        // Default color
        background-color: var(--ion-color-medium-tint);

				&[ratingBase="1"] {
					background-color: var(--page-rating-1-color);
				}
				&[ratingBase="2"] {
					background-color: var(--page-rating-2-color);
				}
				&[ratingBase="3"] {
					background-color: var(--page-rating-3-color);
				}
				&[ratingBase="4"] {
					background-color: var(--page-rating-4-color);
				}
				&[ratingBase="5"] {
					background-color: var(--page-rating-5-color);
				}
      }
    }
  }
  .links-wrapper {
    padding: calc(var(--page-margin) / 2) var(--page-margin) var(--page-margin);
    .detail-title {
      margin-bottom: 5px;
    }
    .links-tags {
      --ion-grid-column-padding: 0px;

      justify-content: center;
      margin-top: calc(var(--page-amenity-vertical-gutter) * -1);

      .tag-wrapper {
        padding: var(--page-amenity-vertical-gutter) var(--page-amenity-horizontal-gutter) var(--page-amenity-vertical-gutter) 0px;
        flex-grow: 0;
        min-width: fit-content;

        &:last-child {
          padding-right: 0px;
        }
      }

      .link-tag {
        display: block;
        border-radius: var(--app-narrow-radius);
        border: 1px solid var(--ion-color-light-shade);
        padding: var(--page-amenity-vertical-gutter) var(--page-amenity-horizontal-gutter);
        font-size: 14px;
        color: var(--ion-color-medium-tint);
      }
    }
  }
  .detail-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-color-dark-tint);
    margin: 0px;
    margin-bottom: var(--page-margin);
  }

  .open-hours-wrapper {
    padding: 0px var(--page-margin) var(--page-margin);

    .schedules-list {
      list-style: none;
      margin: 0px;
      padding: 0px;

      .open-hour-item {
        font-size: 14px;
        color: var(--ion-color-medium-tint);

        & + .open-hour-item {
          margin-top: calc(var(--page-margin) / 2);
        }

        .schedule-outer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 75%;

          .schedule-day {
            display: block;
            padding-right: var(--page-margin);
            width: 40%;
            font-size: 14px;
          }

          .schedule-hours {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .schedule-separator {
              margin: 0px var(--page-margin);
              line-height: 1;
            }

            .schedule-value {
              flex: 0 1 25%;
              font-weight: 500;

              &:first-child {
                text-align: start;
              }
              &:last-child {
                text-align: end;
              }
            }

            .schedule-closed {
              text-transform: uppercase;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .location-wrapper {
    padding: 0px 0px var(--page-margin);

    .location-header {
      padding: 0px var(--page-margin) 0px;
      margin-bottom: calc(var(--page-margin) / 2);
    }

    .detail-title {
      margin-bottom: 5px;
    }

    .location-address {
      display: block;
      font-size: 14px;
      color: var(--ion-color-medium-tint);
    }
  }

  .details-tags {
    --ion-grid-column-padding: 0px;

    padding: 0px var(--page-margin) var(--page-margin);
    justify-content: center;
    margin-top: calc(var(--page-tags-vertical-gutter) * 2 * -1);

    .tag-wrapper {
      padding: calc(var(--page-tags-vertical-gutter) * 2) var(--page-tags-horizontal-gutter) 0px 0px;
      flex-grow: 0;
      min-width: fit-content;

      &:last-child {
        padding-right: 0px;
      }
    }

    .item-tag {
      display: block;
      border-radius: var(--app-narrow-radius);
      border: 1px solid var(--ion-color-medium-tint);
      padding: var(--page-tags-vertical-gutter) var(--page-tags-horizontal-gutter);
      font-size: 14px;
      color: var(--ion-color-medium-tint);
    }
  }

  .details-divider {
    margin: 0px var(--page-margin) calc(var(--page-margin) * 2);
    border-top: 2px solid rgba(var(--ion-color-light-shade-rgb), .4);
  }

  .related-locations-wrapper {
    .related-locations-row {
      --ion-grid-columns: 7; // We want to show three locations and a half. Each location fills 2 cols => (3.5 * 2 = 7 cols)
      --ion-grid-column-padding: 0px;

      flex-wrap: nowrap;
      overflow-x: scroll;
      will-change: scroll-position;
      margin-left: calc(var(--page-margin) * -1);
      margin-right: calc(var(--page-margin) * -1);

      @include hide-scrollbars();

      &::before,
      &::after {
        content: '';
        flex: 0 0 calc(var(--page-margin) - var(--page-related-locations-gutter));
      }

      .related-location-item {
        padding: 0px var(--page-related-locations-gutter);

        .related-location-displayName {
          display: block;
          text-align: center;
          margin-top: calc(var(--page-margin) / 2);
          font-size: 14px;
        }
      }
    }
  }



  .bottom-row {
    --ion-grid-column-padding: 0px;

    padding: 0px calc(var(--page-margin) / 2) calc(var(--page-margin) / 2);
    justify-content: space-between;

    .expiration-countdown {
      color: var(--ion-color-lightest);
      background-color: var(--ion-color-danger);
      padding: calc(var(--page-margin) / 2) var(--page-margin);
  
      position: sticky;
      top: 0;
      z-index: 8;
  
      text-align: center;
      justify-content: center;
      align-items: center;
  
      .expiration-lead {
        padding: 0px calc(var(--page-margin) / 2);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
      }
  
      app-countdown-timer.item-countdown {
        --countdown-margin: 0px;
        --countdown-padding: 0px 3px;
        --countdown-time-margin: 0px 2px;
        --countdown-time-padding: 0px 2px;
        --countdown-inner-time-margin: 0px 2px 0px 0px;
        --countdown-inner-time-padding: calc(var(--page-margin) / 2) 0px;
        --countdown-fill-border: none;
        --countdown-fill-border-radius: var(--app-narrow-radius);
        --countdown-fill-background: var(--ion-color-lightest);
        --countdown-fill-shadow: 0px 0px 5px 0px var(--page-countdown-fill-shadow-color);
        --countdown-value-color: var(--ion-color-darkest);
        --countdown-unit-color: var(--ion-color-medium-shade);
  
        padding: 0px calc(var(--page-margin) / 4);
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .users-pictures-wrapper {
    padding: 0px var(--page-margin) var(--page-margin);

    .pictures-row {
      --ion-grid-columns: 10;
      --ion-grid-column-padding: 0px;

      margin: 0px calc(var(--page-users-pictures-gutter) * -1);

      .picture-wrapper {
        padding: 0px var(--page-users-pictures-gutter);

        .has-more-pictures {
  				position: absolute;
  				top: 0px;
  				bottom: 0px;
  				left: 0px;
  				right: 0px;
          margin: 0px var(--page-users-pictures-gutter);
  				background-color: rgba(var(--page-color-rgb), .70);
  				display: flex;
  				align-items: center;
  				justify-content: center;
          text-decoration: none;
          z-index: 2;

  				.pictures-count {
  					font-size: 22px;
  					color: var(--ion-color-lightest);
  					font-weight: 600;

  					&::before {
  						content: '+';
  						font-size: 26px;
  						color: var(--ion-color-lightest);
  						font-weight: 600;
  					}
  				}
  			}
      }
    }

    .upload-picture-btn {
      margin: calc(var(--page-margin) / 2) 0px 0px;
    }
  }

  .reviews-wrapper {
    padding: 0px var(--page-margin) var(--page-margin);

    .reviews-list {
      margin-bottom: calc(var(--page-margin) / 2);

      .review-item {
        &:not(:last-child) {
          padding-bottom: var(--page-margin);

          &::after {
            content: '';
            display: block;
            margin: 5px var(--page-margin);
            border-top: 2px solid rgba(var(--ion-color-light-shade-rgb), .4);
          }
        }

        .review-user {
          --ion-grid-columns: 10;
          --ion-grid-column-padding: 0px;

          .user-image-wrapper {
            padding-right: calc(var(--page-margin) / 2);
          }

          .user-brief-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding-right: calc(var(--page-margin) / 2);

            .review-user-name {
              font-size: 16px;
              margin: 0px;
              font-weight: 400;
            }

            .user-scores {
              .user-score {
                .score-title {
                  color: var(--ion-color-medium-tint);
                  font-size: 12px;
                  margin-left: 4px;
                }
              }
            }
          }

          .review-info-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            min-width: 20%;
            min-width: fit-content;
            flex-grow: 0;

            .review-date {
              color: var(--ion-color-medium-tint);
              font-size: 11px;
              display: block;
              width: 100%;
              text-align: right;
            }

            .review-rating {
              width: 36px;
              color: var(--ion-color-lightest);
      				border-radius: var(--app-narrow-radius);
      				padding: calc(var(--page-margin) / 4) calc(var(--page-margin) / 2);
      			  font-size: 12px;
      			  font-weight: 600;
      			  display: block;
      			  text-align: center;
              // Default color
              background-color: var(--ion-color-medium-tint);

      				&[ratingBase="1"] {
      					background-color: var(--page-rating-1-color);
      				}
      				&[ratingBase="2"] {
      					background-color: var(--page-rating-2-color);
      				}
      				&[ratingBase="3"] {
      					background-color: var(--page-rating-3-color);
      				}
      				&[ratingBase="4"] {
      					background-color: var(--page-rating-4-color);
      				}
      				&[ratingBase="5"] {
      					background-color: var(--page-rating-5-color);
      				}
            }
          }
        }

        .review-message {
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
          margin: var(--page-margin) 0px;
        }

        .review-scores {
          padding: 0px var(--page-margin) var(--page-margin);
          justify-content: space-between;

          .review-score {
            justify-content: center;

            &:not(:first-child) {
              padding-left: calc(var(--page-margin) / 2);
            }

            &:not(:last-child) {
              padding-right: calc(var(--page-margin) / 2);
              border-right: 1px solid var(--ion-color-light-shade);
            }
          }
        }
      }
    }

    .details-divider {
      margin: 5px 0px;
    }

    .all-reviews-btn {
      margin: 5px 0px;
    }

    .write-reviews-btn {
      margin: var(--page-margin) 0px 0px;
    }
  }
.shaded {
  -webkit-box-shadow: 14px 10px 22px -2px #000000; 
  box-shadow: 14px 10px 22px -2px #000000;
}
}
.center{
  text-align:center;
  text-transform: uppercase;
}



