
<ion-tabs >
    <ion-tab-bar slot="top" color="primary">
      <ion-tab-button tab="location/map">
        <ion-icon src="./assets/svg/map.svg"></ion-icon>
        <ion-label class="tab-title">Map</ion-label>
        </ion-tab-button>
      <ion-tab-button tab="location/listing">
        <ion-icon src="./assets/svg/categories.svg"></ion-icon>
        <ion-label class="tab-title">Locations</ion-label>
        </ion-tab-button>
      <ion-tab-button tab="user/profile">
        <ion-icon src="./assets/svg/profile.svg"></ion-icon>
        <ion-label class="tab-title">Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>