<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
          <i class="material-icons">cancel</i>
        </ion-button>
    </ion-buttons>
    <ion-title>New Deal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="create-user-content">

  <form class="new-user-form" [formGroup]="newDealForm" (ngSubmit)="createDeal()">
    <ion-list class="inputs-list" lines="full">
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Title</ion-label>
          <ion-input type="text" formControlName="title" required></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Description</ion-label>
          <ion-input type="text" formControlName="description" required></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Max Value</ion-label>
          <ion-input type="number" step=".5" formControlName="maxVal"></ion-input>
        </ion-item>
        <ion-item class="counter-item input-item">
          <ion-label class="counter-label">Uses Per Month</ion-label>
          <ion-label class="counter-value">{{newDealForm.controls.monthlyUses.value}}</ion-label>

          <app-counter-input formControlName="monthlyUses" step="1" basic></app-counter-input>
        </ion-item>
        <div class="error-container">
            <ng-container *ngFor="let validation of validations.monthlyUses">
              <div class="error-message" *ngIf="newDealForm.get('monthlyUses').hasError(validation.type) && (newDealForm.get('monthlyUses').dirty || newDealForm.get('monthlyUses').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }} {{ newDealForm.get('monthlyUses').getError(validation.type).min }} and {{ newDealForm.get('monthlyUses').getError(validation.type).max }}</span>
              </div>
            </ng-container>
          </div>

        <ion-item>
            <ion-label position="floating" color="primary">Icon</ion-label>
            <ion-select formControlName="category">
              <ion-select-option *ngFor="let i of categories" [value]="i">
                  <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                      <app-image-shell class="user-image add-spinner" [src]="i.icon"></app-image-shell>
                      <app-text-shell [data]="i.name"></app-text-shell>
                    </app-aspect-ratio>
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="counter-item input-item">
              <ion-label class="counter-label">Sort Priority</ion-label>
              <ion-label class="counter-value">{{newDealForm.controls.priority.value}}</ion-label>
    
              <app-counter-input formControlName="priority" step="1" basic></app-counter-input>
            </ion-item>
            <div class="error-container">
                <ng-container *ngFor="let validation of validations.priority">
                  <div class="error-message" *ngIf="newDealForm.get('priority').hasError(validation.type) && (newDealForm.get('priority').dirty || newDealForm.get('priority').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }} {{ newDealForm.get('priority').getError(validation.type).min }} and {{ newDealForm.get('priority').getError(validation.type).max }}</span>
                  </div>
                </ng-container>
              </div>
    </ion-list>
    <ion-button expand="block" color="primary" class="submit-btn" type="submit" fill="outline"
      [disabled]="!newDealForm.valid">CREATE</ion-button>
  </form>
</ion-content>